In [1]:
# import correct packages
import pandas as pd
import json

In [2]:
# read the json file
df = pd.read_json('data.json',lines=True)

In [3]:
# get the homeValue with x as the time of purchase and y as the price per month
homeValue = df.loc[df['zpid'] == 16842300]['data'][0]['HomeValueChartData']
print(homeValue)

{"points": [{"x": 1285830000000, "y": 2300.0}, {"x": 1288508400000, "y": 2395.0}, {"x": 1291104000000, "y": 2200.0}, {"x": 1293782400000, "y": 2200.0}, {"x": 1296460800000, "y": 2175.0}, {"x": 1298880000000, "y": 2195.0}, {"x": 1301554800000, "y": 2150.0}, {"x": 1304146800000, "y": 2245.0}, {"x": 1306825200000, "y": 2250.0}, {"x": 1309417200000, "y": 2200.0}, {"x": 1312095600000, "y": 2195.0}, {"x": 1314774000000, "y": 2200.0}, {"x": 1317366000000, "y": 2250.0}, {"x": 1320044400000, "y": 2200.0}, {"x": 1322640000000, "y": 2200.0}, {"x": 1325318400000, "y": 2200.0}, {"x": 1327996800000, "y": 2250.0}, {"x": 1330502400000, "y": 2250.0}, {"x": 1333177200000, "y": 2250.0}, {"x": 1335769200000, "y": 2250.0}, {"x": 1338447600000, "y": 2300.0}, {"x": 1341039600000, "y": 2200.0}, {"x": 1343718000000, "y": 2211.0}, {"x": 1346396400000, "y": 2345.0}, {"x": 1348988400000, "y": 2250.0}, {"x": 1351666800000, "y": 2300.0}, {"x": 1354262400000, "y": 2450.0}, {"x": 1356940800000, "y": 2450.0}, {"x": 1359619200000, "y": 2400.0}, {"x": 1362038400000, "y": 2295.0}, {"x": 1364713200000, "y": 2391.0}, {"x": 1367305200000, "y": 2300.0}, {"x": 1369983600000, "y": 2395.0}, {"x": 1372575600000, "y": 2300.0}, {"x": 1375254000000, "y": 2450.0}, {"x": 1377932400000, "y": 2400.0}, {"x": 1380524400000, "y": 2499.0}, {"x": 1383202800000, "y": 2495.0}, {"x": 1385798400000, "y": 2395.0}, {"x": 1388476800000, "y": 2350.0}, {"x": 1391155200000, "y": 2300.0}, {"x": 1393574400000, "y": 2400.0}, {"x": 1396249200000, "y": 2300.0}, {"x": 1398841200000, "y": 2300.0}, {"x": 1401519600000, "y": 2450.0}, {"x": 1404111600000, "y": 2500.0}, {"x": 1406790000000, "y": 2500.0}, {"x": 1409468400000, "y": 2500.0}, {"x": 1412060400000, "y": 2595.0}, {"x": 1414738800000, "y": 2495.0}, {"x": 1417334400000, "y": 2495.0}, {"x": 1420012800000, "y": 2600.0}, {"x": 1422691200000, "y": 2575.0}, {"x": 1425110400000, "y": 2650.0}, {"x": 1427785200000, "y": 2500.0}, {"x": 1430377200000, "y": 2450.0}, {"x": 1433055600000, "y": 2950.0}, {"x": 1435647600000, "y": 2850.0}, {"x": 1438326000000, "y": 2695.0}, {"x": 1441004400000, "y": 2750.0}, {"x": 1443596400000, "y": 2800.0}, {"x": 1446274800000, "y": 2795.0}, {"x": 1448870400000, "y": 2645.0}, {"x": 1451548800000, "y": 2600.0}, {"x": 1454227200000, "y": 2700.0}, {"x": 1456732800000, "y": 2700.0}, {"x": 1459407600000, "y": 2850.0}, {"x": 1461999600000, "y": 2695.0}, {"x": 1464678000000, "y": 2500.0}, {"x": 1467270000000, "y": 2600.0}, {"x": 1469948400000, "y": 2600.0}, {"x": 1472626800000, "y": 2650.0}, {"x": 1475218800000, "y": 2800.0}, {"x": 1477897200000, "y": 2750.0}, {"x": 1480492800000, "y": 2700.0}, {"x": 1483171200000, "y": 2700.0}, {"x": 1485849600000, "y": 2800.0}, {"x": 1488268800000, "y": 2850.0}, {"x": 1490943600000, "y": 2800.0}, {"x": 1493535600000, "y": 2800.0}, {"x": 1495695600000, "y": 2850.0}], "name": "This home", "id": 16842300, "regionType": "Home"}

In [4]:
# get the region name from the json data file
regionName = df.loc[df['zpid'] == 16842300]['data'][0]['results']['result']['localRealEstate']['region']['@name']
print (regionName)

University City

In [5]:
# get bedroom and bathroom of the place
bedroom = df.loc[df['zpid'] == 16842300]['data'][0]['results']['result']['bedrooms']['$']
bathroom = df.loc[df['zpid'] == 16842300]['data'][0]['results']['result']['bathrooms']['$']
print(bedroom)
print(bathroom)

3
2.5

In [6]:
# method to get region name with df as the thing reading from the json file and zpid the exact data point
def extract_region(df, zpid):
    return  df.loc[df['zpid'] == zpid]['data'][0]['results']['result']['localRealEstate']['region']['@name']

In [7]:
# testing for the function extract_region
assert extract_region(df,16842300) == "University City"
print (extract_region(df,16842300))

University City

In [8]:
# get the time from homeValue and the date using the package time
import time
homeValue = df.loc[df['zpid'] == 16842300]['data'][0]['HomeValueChartData']
chart = json.loads(homeValue)
x = chart['points'][80]['x']
print (x)
time.ctime(x / 1000)

1495695600000

'Thu May 25 00:00:00 2017'

In [76]:
# 1483257600 beginning of 2017
# 1451635200 beginning of 2016
# 1420099200 beginning of 2015
# 1388563200 beginning of 2014
# 1357027200 beginning of 2013
# 1325404800 beginning of 2012
# 1293868800 beginning of 2011
# 1262332800 beginning of 2010
time.ctime(1293868800   - 31622400)

# 366: 31622400
# 365: 31536000

'Thu Dec 31 00:00:00 2009'

In [77]:
print(1293868800   - 31536000)
print(1325404800   - 31622400)

1262332800
1293782400

In [9]:
# testing for second zpid and what you may need also checks the price instead
homeValue2 = df.loc[df['zpid'] == 16842301]['data'][1]['HomeValueChartData']
chart = json.loads(homeValue2)
y = chart['points'][80]['y']
print(y)

2600.0

In [10]:
# testing for third zpid and what you may need for the fuction to loop trough it all
homeValue3 =  df.loc[df['zpid'] == 16842302]['data'][2]['HomeValueChartData']
chart = json.loads(homeValue3)
y = chart['points'][80]['y']
print(y)

2795.0

In [27]:
# in work function to 
df = pd.read_json('data.json',lines=True)

bedroom1_bathroom1 = {}
bedroom1_bathroom15 = {}
bedroom2_bathroom1 = {}
bedroom2_bathroom15 = {}
bedroom2_bathroom2 = {}
bedroom2_bathroom25 = {}
bedroom3_bathroom2 = {}
bedroom3_bathroom25 = {}
bedroom4 = {}
bedroom5 = {}
c = 0
for zpid in df['zpid'].tolist():
#     try:
#         homeValue = df.loc[df['zpid'] == zpid]['data'][c]['HomeValueChartData']
#     except KeyError:
#         c+1
#         continue
    homeValue = df.loc[df['zpid'] == zpid]['data'][c]['HomeValueChartData']
    try:
        bedroom = df.loc[df['zpid'] == zpid]['data'][c]['results']['result']['bedrooms']['$']
    except TypeError:
        c=c+1
        continue
#     bedroom = df.loc[df['zpid'] == zpid]['data'][c]['results']['result']['bedrooms']['$']


    try:
        bathroom = df.loc[df['zpid'] == zpid]['data'][c]['results']['result']['bathrooms']['$']
    except KeyError:
        c=c+1
        continue
#     bathroom = df.loc[df['zpid'] == zpid]['data'][c]['results']['result']['bathrooms']['$']

    
    c = c + 1
    chart = json.loads(homeValue)
    y = chart['points'][-1]['y']
    if bedroom == 1:
        
        if bathroom == 1.0:
            bedroom1_bathroom1[zpid] = y
        if bathroom == 1.5:
            bedroom1_bathroom15[zpid] = y
    if bedroom == 2:
        if bathroom == 1:
            bedroom2_bathroom1[zpid] = y
        if bathroom == 1.0:
            bedroom2_bathroom1[zpid] = y
        if bathroom == 1.5:
            bedroom2_bathroom15[zpid] = y
        if bathroom == 2:
            bedroom2_bathroom2[zpid] = y
        if bathroom == 2.0:
            bedroom2_bathroom2[zpid] = y
        if bathroom == 2.5:
            bedroom2_bathroom25[zpid] = y
    if bedroom == 3:
        if bathroom == 2:
            bedroom3_bathroom2[zpid] = y
        if bathroom == 2.0:
            bedroom3_bathroom2[zpid] = y
        if bathroom == 2.5:
            bedroom3_bathroom25[zpid] = y
    if bedroom == 4:
        bedroom4[zpid] = y
    if bedroom == 5:
        bedroom5[zpid] = y
# bedroom = df.loc[df['zpid'] == 16842300]['data'][0]['results']['result']['bedrooms']['$']
# bathroom = df.loc[df['zpid'] == 16842300]['data'][0]['results']['result']['bathrooms']['$']

In [28]:
df = pd.read_json('data.json',lines=True)
dict = {}
c = 0
for zpid in df['zpid'].tolist():    
    homeValue = df.loc[df['zpid'] == zpid]['data'][c]['HomeValueChartData']
    chart = json.loads(homeValue)
    
    y = chart['points'][-1]['y']
    try:
        bedroom = df.loc[df['zpid'] == zpid]['data'][c]['results']['result']['bedrooms']['$']
    except TypeError:
        c= c+1
        continue
    c = c +1
    if bedroom == 5:
        dict[zpid] = y
    else:
        continue
#     dict[zpid] = y

# number of dict
sum = 0
number = 0
for key, value in dict.items():
    sum = sum + value
    number = number + 1
print (number)

In [30]:
print("1 bedroom 1 bathrooms")
sum = 0
number = 0
for key, value in bedroom1_bathroom1.items():
    sum = sum + value
    number = number + 1
print("number:")
print(number)
print ("sum:") 
print(sum)
average = sum / number
print("average:")
print (average)

print("\n1 bedroom 1.5 bathrooms")
sum = 0
number = 0
for key, value in bedroom1_bathroom15.items():
    sum = sum + value
    number = number + 1
print("number:")
print(number)
print ("sum:") 
print(sum)
average = sum / number
print("average:")
print (average)

1 bedroom 1 bathrooms
number:
609
sum:
1083721.0
average:
1779.5090311986864

1 bedroom 1.5 bathrooms
number:
37
sum:
84178.0
average:
2275.0810810810813

In [31]:
print("2 bedroom 1 bathrooms")
sum = 0
number = 0
for key, value in bedroom2_bathroom1.items():
    sum = sum + value
    number = number + 1
print("number:")
print(number)
print ("sum:") 
print(sum)
average = sum / number
print("average:")
print (average)

print("\n2 bedroom 1.5 bathrooms")
sum = 0
number = 0
for key, value in bedroom2_bathroom15.items():
    sum = sum + value
    number = number + 1
print("number:")
print(number)
print ("sum:") 
print(sum)
average = sum / number
print("average:")
print (average)

print("\n2 bedroom 2 bathrooms")
sum = 0
number = 0
for key, value in bedroom2_bathroom2.items():
    sum = sum + value
    number = number + 1
print("number:")
print(number)
print ("sum:") 
print(sum)
average = sum / number
print("average:")
print (average)

print("\n2 bedroom 2.5 bathrooms")
sum = 0
number = 0
for key, value in bedroom2_bathroom25.items():
    sum = sum + value
    number = number + 1
print("number:")
print(number)
print ("sum:") 
print(sum)
average = sum / number
print("average:")
print (average)
# print(bedroom2)

2 bedroom 1 bathrooms
number:
501
sum:
1047575.0
average:
2090.9680638722557

2 bedroom 1.5 bathrooms
number:
248
sum:
547541.0
average:
2207.826612903226

2 bedroom 2 bathrooms
number:
1310
sum:
3161835.0
average:
2413.614503816794

2 bedroom 2.5 bathrooms
number:
567
sum:
1588890.0
average:
2802.2751322751324

In [32]:
print("3 bedroom 2 bathrooms")
sum = 0
number = 0
for key, value in bedroom3_bathroom2.items():
    sum = sum + value
    number = number + 1
print("number:")
print(number)
print ("sum:") 
print(sum)
average = sum / number
print("average:")
print (average)

print("\n3 bedroom 2.5 bathrooms")
sum = 0
number = 0
for key, value in bedroom3_bathroom25.items():
    sum = sum + value
    number = number + 1
print("number:")
print(number)
print ("sum:") 
print(sum)
average = sum / number
print("average:")
print (average)

3 bedroom 2 bathrooms
number:
963
sum:
3007447.0
average:
3122.997923156802

3 bedroom 2.5 bathrooms
number:
694
sum:
2138816.0
average:
3081.8674351585014

In [33]:
print("4 bedroom ")
sum = 0
number = 0
for key, value in bedroom4.items():
    sum = sum + value
    number = number + 1
print("number:")
print(number)
print ("sum:") 
print(sum)
average = sum / number
print("average:")
print (average)

print("\n5 bedroom ")
sum = 0
number = 0
for key, value in bedroom5.items():
    sum = sum + value
    number = number + 1
print("number:")
print(number)
print ("sum:") 
print(sum)
average = sum / number
print("average:")
print (average)

4 bedroom
number:
1007
sum:
4103418.0
average:
4074.893743793446

5 bedroom
number:
415
sum:
2145480.0
average:
5169.831325301205

In [ ]:
# homeValue = df.loc[df['zpid'] == 16842300]['data'][0]['HomeValueChartData']
# fuction to get date from homevalue
def extract_date(homeValue, index):
    date = json.loads(homeValue)
    x = date['points'][index]['x']
    return time.ctime(x / 1000)